<mat-toolbar color="primary">
    <div class="container">
        <span>Pre Test Privyd</span>
        <span class="spacer"></span>
        <a mat-raised-button color="accent" [routerLink]="['login']" class="pull-right ml-1">Login</a>
        <a mat-raised-button color="accent" [routerLink]="['category']" class="pull-right ml-1">Category</a>
        <a mat-raised-button color="accent" [routerLink]="['']" class="pull-right ml-1">Products</a>
    </div>
</mat-toolbar>

<router-outlet></router-outlet>
