.img-wrapper {
    text-align: center;
    button {
        display: block;
        margin: auto;
    }
    span {
        display: block;
        margin: auto;
    }
}
.img-preview {
    width: 50%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}