<h1 mat-dialog-title>
    <span *ngIf="!form.get('id').value">Add Category</span>
    <span *ngIf="form.get('id').value">Edit Category</span>
</h1>
<div mat-dialog-content>
    <form [formGroup]="form">
        
        <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        
        <div class="mb-2 img-wrapper">
            <img class="img-preview" [src]="imagePreview" alt="" *ngIf="imagePreview">
            <input #imageInput type="file" placeholder="Image" (change)="onFileChange($event)" hidden>
            <button mat-raised-button color="accent" (click)="imageInput.click()">Upload Image</button>
            <span *ngIf="imageName">{{ imageName }}</span>
        </div>
        
        <mat-checkbox formControlName="enable">Enable</mat-checkbox>
        
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</div>